<div class="screen-main">
	<div class="container">
		<h1>Our solutions raise entire nations’ quality of life</h1>
	</div>
</div>
<div class="screen-experience">
	<div class="container">
		<section>
			<article>
				<h1>7</h1>
				<p>years of blockchain integration</p>
			</article>
			<article>
				<h1>80</h1>
				<p>people are contributing to our mission</p>
			</article>
			<article>
				<h1>20</h1>
				<p>successful cases of blockchain integration</p>
			</article>
		</section>
	</div>
</div>
<div id="ourmission" class="screen-mission">
	<div class="container">
		<article>
			<h2>Our mission</h2>
			<p>By placing distributed ledger technology at the heart of digital transformation, we increase cyber security, reduce bureaucracy and replace legacy systems. With this, businesses and governments become more efficient.
				<br /><br />
				Smart implementation of blockchain redefines the trust we place in each other, making interactions more transparent, fair and reliable. This is why we will impact on the World Happiness Index, giving everyone access to knowledge, integrating developing countries into the global economy and <strong>bringing joy to people’s lives</strong>.
			</p>
		</article>
		<img src="/assets/images/about/our_mission.png" alt=""/>
	</div>
</div>
<div class="screen-history">
	<div class="container">
		<h2>Here is our history<small>Drag it</small></h2>
		<div class="swiper-container" [swiper]="config">
			<div class="swiper-wrapper">
				<article class="swiper-slide">
					<h4>2011</h4>
					<p>Oleg Strelenko, the founder of the project, started creating his own cryptocurrency: DCoin.</p>
				</article>
				<article class="swiper-slide">
					<h4>April 2014</h4>
					<p>Release of DCoin: a cryptocurrency viable without exchanges, banks and other mediators. 66 types of transactions, 77 currencies, video identification and an integrated exchange system for converting DCoin into cash.</p>
				</article>
				<article class="swiper-slide">
					<h4>December 2014</h4>
					<p>DCoin rewritten from PHP to Go (more than 73,000 lines of code). Works on Win (64/32), OSX (64/32), Linux (64/32), FreeBSD (64/32), Android, IOS, supports PostgreSQL, SQLite, MySQL.</p>
				</article>
				<article class="swiper-slide">
					<h4>January 2016</h4>
					<p>DCoin attracts its first investor.</p>
				</article>
				<article class="swiper-slide">
					<h4>June 2016</h4>
					<p>Work starts on creating the first blockchain platform prototype as part of the Daylight project. The first office opens in Moscow.</p>
				</article>
				<article class="swiper-slide">
					<h4>October 2016</h4>
					<p>The first versions of the web system, plus Simvolio and Prototypo programming languages are created. The project is renamed as eGaaS (electronic Government as a Service).</p>
				</article>
				<article class="swiper-slide">
					<h4>Spring 2017</h4>
					<p>The test network is launched. The concept and ideology of smart contracts alongside a platform legal system is developed. The proof of concept for the first projects is validated for the UAE, India and Luxembourg.</p>
				</article>
				<article class="swiper-slide">
					<h4>July 2017</h4>
					<p>An office is opened in Luxembourg.</p>
				</article>
				<article class="swiper-slide">
					<h4>August 2017</h4>
					<p>The platform’s application is expanded so that it may be implemented outside of eGovernment. Apla is born: a team of experts for developing and integrating blockchain solutions. eGaaS is accepted into the Luxembourg centre for fintech.</p>
				</article>
				<article class="swiper-slide">
					<h4>Autumn 2017</h4>
					<p>Proprietary products (programming client, Simvolo and Protypo languages) are perfected. The visual editor and builder for interfaces is created.</p>
				</article>
				<article class="swiper-slide">
					<h4>By 2018</h4>
					<p>Apla Enterprise Network (AEN) blockchain network is launched for business. The network speed is increased by 5-10 times (to 10,000 tps). Offices open in Dubai, Singapore and New York.</p>
				</article>
			</div>
		</div>
	</div>
</div>
<div class="screen-team">
	<div class="container">
		<h2>Leadership</h2>
		<p>Leadership in innovations makes an impact on a global scale. Multicultural, multidisciplinary and diverse top-management allows Apla to speak in one language with worldwide leaders from prime ministers to CIOs.<br /><br />Our leaders eat last. Creating a workplace of the future: bureaucracy free, with a greater purpose, based on constant learning and individuality at its core.</p>
		<section style="display: none">
			<article>
				<div class="thumb mask mask-black">
					<img src="/assets/images/team/team_1.jpg" alt=""/>
					<a class="btn-icon btn-icon-white" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
				</div>
				<h4>Vitaly Bondar</h4>
				<small>Chief Legal Officer (CLO)</small>
				<p>Small team member description. Work xpierence and some interesting things which make user trust Apla.</p>
			</article>
			<article>
				<div class="thumb mask mask-black">
					<img src="/assets/images/team/team_2.jpg" alt=""/>
					<a class="btn-icon btn-icon-white" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
				</div>
				<h4>Vitaly Bondar</h4>
				<small>Chief Legal Officer (CLO)</small>
				<p>Small team member description. Work xpierence and some interesting things which make user trust Apla.</p>
			</article>
			<article>
				<div class="thumb mask mask-black">
					<img src="/assets/images/team/team_1.jpg" alt=""/>
					<a class="btn-icon btn-icon-white" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
				</div>
				<h4>Vitaly Bondar</h4>
				<small>Chief Legal Officer (CLO)</small>
				<p>Small team member description. Work xpierence and some interesting things which make user trust Apla.</p>
			</article>
			<article>
				<div class="thumb mask mask-black">
					<img src="/assets/images/team/team_2.jpg" alt=""/>
					<a class="btn-icon btn-icon-white" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
				</div>
				<h4>Vitaly Bondar</h4>
				<small>Chief Legal Officer (CLO)</small>
				<p>Small team member description. Work xpierence and some interesting things which make user trust Apla.</p>
			</article>
		</section>

		<app-team teamPointer="TOPMANAGMENT"></app-team>

		<h2>Team is everything</h2>
		<p>Welcome to the world where everyone’s invited to form deep, meaningful connections.</p>
		<app-team teamPointer="TEAM"></app-team>
	</div>
</div>
<div class="screen-vacancies">
	<div class="container">
		<h2>Take part in our journey</h2>
		<p>Are you a technical specialist, sales manager, designer, maker, dreamer, Sarah, Alan - a purpose driven individual? Make a real impact: build the future you want to live in.</p>
		<h4>Vacant positions</h4>
		<mat-tab-group>
			<mat-tab label="{{ town.TOWN }}" *ngFor="let town of vacancies">
				<section>
					<article *ngFor="let item of town.VACANCY">
						<small>
							<span>{{ item.DEPARTMENT }}</span>
							<span>{{ town.TOWN }}, {{ town.COUNTRY }}</span>
						</small>
						<h4>{{ item.TITLE }}</h4>
						<p [innerHTML]="item.PREAMBLE"></p>
						<button type="button" class="btn btn-more" (click)="openDialog(item)">READ DESCRIPTION<em></em></button>
					</article>
				</section>
			</mat-tab>
		</mat-tab-group>
		<h3>Even if you have not found a&nbsp;suitable position  — <a href="#">send us a CV!</a></h3>
		<p>We are always in search for great talent.</p>
	</div>
</div>
<div class="screen-media_info">
	<div class="container">
		<h2>Media informaion</h2>
		<section>
			<article>
				<h5>Apla logotype and guideline</h5>
				<!--<p>Unlock the creativity of software developers to deliver new apps and services to customers faster. Gain the freedom to build the right app with the right components and accelerate digital strategies.</p>-->
			</article>
			<div>
				<h5><a href="#">Download Logotypes &amp; Guidelines</a></h5>
				<p>Archive .ZIP, 345 MB</p>
				<small>Guidelines — .PDF, 250 MB<br />Logotypes — .EPS, .PNG, 95 MB</small>
			</div>
		</section>
		<section>
			<article>
				<h4>If you want insights about our cases, market and company, contact Nick</h4>
			</article>
			<div>
				<div class="thumb mask">
					<img src="/assets/images/team/ns.png" alt=""/>
				</div>
				<h4>Nick Syusko</h4>
				<small>Communication Director</small>
				<p><a href="mailto:nick@apla.io">nick@apla.io</a><br />+7 (968) 9790-42-20</p>
			</div>
		</section>
	</div>
</div>
<app-newsletter></app-newsletter>
