.form {
	&-group {
		position: relative;
		display: inline-block;
	}
	&-control {
		position: relative;
		display: block;
		width: 100%;
		border: 0px;
		border-radius: 0px;
		border-bottom: 2px solid $black;
		background-color: $white;
		@include text(reg, 16px, $black, 20px, none);
		padding-top: 10px;
		padding-bottom: 10px;
		z-index: 2;
		&-focus {
			position: relative;
			display: block;
			height: 0px;
			z-index: 3;
			&:after {
				content: "";
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 0px;
				height: 2px;
				background-color: $green;
				@include transition("width", .3s, "easeInOutExpo");
			}
		}
		&-feedback {
			position: absolute;
			left: 0px;
			top: 100%;
			width: 100%;
			color: $red;
			padding-top: 7px;
			z-index: 1;
			& > * {
				position: absolute;
				left: 0px;
				top: 7px;
				width: 100%;
			}
		}
		&::placeholder {
			color: $gray;
			opacity: 1;
		}
		&:focus {
			& ~ .form-control-focus {
				&:after {
					width: 100%;
				}
			}
		}
	}
}