<div class="screen-main">
  <div class="container">
    <h1>Business Licensing <br>Application</h1>
    <h4>Apla has created an application for issuing business licenses</h4>
  </div>
</div>
<div class="screen-client">
  <div class="container">
    <div>
      <article>
        <h4>Client</h4>
        <img src="/assets/images/cases/business-licensing/logo.png" alt=""/>
        <p>Ajman government UAE</p>
      </article>
    </div>
    <div>
      <h4>Summary</h4>
      <p>Entrepreneurs are an important driver of progress. But starting a new business is always complicated: it requires notarizing documents, opening bank accounts, paying fees and much more. In the Emirate of Ajman (UAE), registering with local federal authorities includes applying paper documents to 4 to 5 different government services. It takes up to 10 working days and requires tons of paperwork.</p>
      <p>In April 2017, the administration of Ajman focused on helping businesses thrive in the economy using blockchain. Apla created a solution where every step of the licensing process can be completed digitally, at least 50% faster and easier than before. It also provides automatic data exchange between different departments and the highest level of security and transparency of all the administrative work.</p>

    </div>
    <section>
      <h2>Our contributions</h2>
      <ul>
        <li>Strategy</li>
        <li>Process workflow research</li>
        <li>User research</li>
      </ul>
      <ul>
        <li>Development of ecosystem</li>
        <li>Software application architecture</li>
        <li>Quality assurance</li>
      </ul>
      <ul>
        <li>Technical documentation</li>
        <li>Third party security audit</li>
        <li>Fully functional project (go live)</li>
      </ul>
    </section>
  </div>
</div>
<div class="screen-background">
  <div class="container">
    <h2>Background</h2>
    <p>The Ajman Emirate (UAE) is going through a powerful shift to investment diversification. A variety of new businesses have sprung up, especially in manufacturing, retail and business services. Still, a lot of the application and registration process happens offline. Applicants have to prepare thoroughly in advance to understand every step of the process which takes time and effort.</p>
  </div>
</div>

<div class="screen-problems">
  <div class="container">
    <h2>Problems</h2>
    <section>
      <ul>
        <li>Paper documents are <u>outdated and insecure</u>
        <li>Centralized databases are <u>insecure</u> and <u>vulnerable to hacking</u>
        <li>Applying for a license takes up to <u>10 working days</u>
        <li>The licensee has to visit up to <u>6 different departments</u>
        <li><u>No cross-department digital exchange of data</u>
      </ul>
      <article>
        <h4>All solved by one solution: Apla</h4>
      </article>
    </section>
  </div>
</div>

<div class="screen-challenge">
  <div class="container">
    <h2>Challenge</h2>
    <section>
      <ul>
        <li>Create a blockchain app for the issuance of business licenses.
        <li>Make visiting the authorities unnecessary.
        <li>Get rid of huge paper registers and tons of paperwork.
        <li>Ensure 100% safe and transparent transactions.
        <li>Facilitate communication between different departments.
        <li>Make getting licensed much faster and easier!
      </ul>
    </section>
  </div>
</div>

<div class="screen-result">
  <div class="container">
    <h5>Result</h5>
    <h4>An application for the issuance of business licenses</h4>
  </div>
</div>


<div class="screen-approach">
  <div class="container">
    <h2>Approach</h2>
    <div class="steps">
      <h5>Develop an ecosystem to meet the client's needs</h5>
      <h5>Create registers for companies and shareholders</h5>
      <h5>Make a working prototype of the application</h5>
      <h5>Proof-of-concept</h5>
    </div>
    <div class="line">
      <h5>1,5 weeks</h5>
      <h5>Validated by client</h5>
    </div>
  </div>
</div>


<div class="screen-solution">
  <div class="container">
    <h2>Solution</h2>
    <section>
      <ol type="1">
          <li>The licensee creates an account and fills in the application form. From then on, they can check the overall progress at any time.
          <li>General Directorate of Residency and Foreign Affairs Ajman (GDRFA) checks the shareholder names.
          <li>The Ajman Department of Economic Development (ADED) waste solutions provider and Ajman Sewerage Company define whether the property is suitable for the specified type of business.
      </ol>
      <ol start="4">
          <li>The police department checks the safety of commercial lease.
          <li>The Ministry for Economic Development checks the application and decides whether the license should be issued.
          <li>The applicant gets the license.
      </ol>
    </section>
    <h2>Approval ecosystem</h2>
    <div class="img">
      <img src="/assets/images/cases/business-licensing/solution-ecosystem.png">
    </div>
  </div>
</div>


<div class="screen-management">
  <div class="container">
    <h2>What we achieved</h2>
    <div class="sheme">
      <h4>Before</h4>
      <span></span>
      <h4>After</h4>
    </div>

    <div class="sheme">
      <h4>Before</h4>
      <h5>All the documents are stored insecurely in the department’s paper registers.</h5>
      <span></span>
      <h4>After</h4>
      <h5>Every department's solution is <strong>fixed securely in the blockchain</strong> using the authority’s private keys. </h5>
    </div>

    <div class="sheme">
      <h4>Before</h4>
      <h5>To receive data from each other, departments have to send requests and lose time.</h5>
      <span></span>
      <h4>After</h4>
      <h5>All the necessary data is <strong>shared across departments automatically</strong>.</h5>
    </div>

    <div class="sheme">
      <h4>Before</h4>
      <h5>No way to speed up the process when applying repeatedly.</h5>
      <span></span>
      <h4>After</h4>
      <h5>Repeated applications can be <strong>faster and easier</strong>, as all the valid data is <strong>auto approved</strong>.</h5>
    </div>

    <div class="sheme">
      <h4>Before</h4>
      <h5>It takes time for every department to consider the application.</h5>
      <span></span>
      <h4>After</h4>
      <h5>Some decisions can be made <strong>automatically</strong>.</h5>
    </div>

    <div class="sheme">
      <h4>Before</h4>
      <h5>It takes up to 10 working days to get a business license.</h5>
      <span></span>
      <h4>After</h4>
      <h5>Digitizing the process <strong>saves at least 50% of time</strong>.</h5>
    </div>

    <div class="sheme">
        <h4>Before</h4>
        <h5>There is no transparency between when the application is submitted and feedback is received.</h5>
        <span></span>
        <h4>After</h4>
      <h5>The applicant <strong>can check</strong> overall progress <strong>any time</strong> and receive instant notifications.</h5>
    </div>

  </div>
</div>

<div class="screen-examples">
  <div class="container">
    <h2>Potential outcome</h2>
    <div class="outcome">
      <section>
        <article>
          <strong>50%</strong>
          <p>faster processes</p>
        </article>
      </section>
    </div>
    <section>
      <article>
        <span></span>
        <h4></h4>
        <p>The license expenses can significantly decrease over time thanks to reduced paperwork, which helps business.</p>
      </article>
      <article>
        <span></span>
        <h4></h4>
        <p>Every transaction on blockchain has legal significance, removing the need for notarized verification.</p>
      </article>
      <article>
        <span></span>
        <h4></h4>
        <p>Growth in the Happy Planet Index.</p>
      </article>
      <article>
        <span></span>
        <h4></h4>
        <p>All the statistics collected are highly reliable and can be used for social and economic research.</p>
      </article>
    </section>
  </div>
</div>

<div class="screen-status">
  <div class="container">
    <article>
      <h5>STATUS</h5>
      <h3>The concept was successfully approved at the Proof-of-Concept stage</h3>
    </article>
  </div>
</div>

<app-banner></app-banner>
<app-newsletter-alt></app-newsletter-alt>
