<section>
	<a class="btn-icon btn-icon-close btn-icon-black" routerLink="/"><em></em></a>
	<div class="screen-main-popup">
		<div class="container">
			<h1>We have built a digital soсiety so can you</h1>
			<h5>E-government on blockchain increase Foreign Direct Investment rating, raise citizen’s happiness index or just make government services work faster.</h5>
		</div>
	</div>
	<div class="screen-examples">
		<div class="container">
			<button type="button" class="btn">Book appointment</button>
			<h2>Examples of servises for&nbsp;e-goverment</h2>
			<section>
				<article>
					<span></span>
					<h5>Digital identity</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Business licence issurance</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Land registry</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Vehicle registry</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Contracts management</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Supply chain management</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Education system</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Digital voting</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Tokenize assets</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
				<article>
					<span></span>
					<h5>Wallets for financial transactions</h5>
					<p>Small servise description. Otherwise it is not clear and needs the explanation.</p>
				</article>
			</section>
		</div>
	</div>
	<div class="screen-blockchain">
		<div class="container">
			<h2>Why we use blockchain?</h2>
			<section>
				<article>
					<span></span>
					<h4>Secure data</h4>
					<p>Blockchain guarantees that any information can not be arbitrarily amended, altered or or deleted by anybody except those authorised in government.</p>
				</article>
				<article>
					<span></span>
					<h4>Transparent</h4>
					<p>It is easy to track actions made by every system user and define who is specifically responsible for each.</p>
				</article>
				<article>
					<span></span>
					<h4>Speed</h4>
					<p>Operational efficiency is increased hundreds of times.</p>
				</article>
			</section>
		</div>
	</div>
	<div class="screen-benefits">
		<div class="container">
			<h2>Key Benefits of the Apla Blockchain</h2>
			<section>
				<article>
					<span></span>
					<h4>Blockchain 3.0</h4>
					<p>We use “Smart Law” technology that operate above the level of protocols. Unlike Smart Contracts, Smart Laws can evaluate and rectify errors where there are program contradictions or flaws in the algorithm.</p>
				</article>
				<article>
					<span></span>
					<h4>Regulated ecosystem</h4>
					<p>The blockchain network is private and permissioned, meaning only the government can see, use or alter information; it is also leak-proof.</p>
				</article>
				<article>
					<span></span>
					<h4>Rapid development</h4>
					<p>It took Apla just 8 days to build the entire system. Moreover, an intuitive interface coupled with simple syntax allows to train staff from local agencies easily.</p>
				</article>
				<article>
					<span></span>
					<h4>Independence</h4>
					<p>It gives government complete control over the platform and is also less dependent on the technology provider.</p>
				</article>
				<article>
					<span></span>
					<h4>Interface editor</h4>
					<p>It’s simple to use for any user, even those without a technical background.</p>
				</article>
				<article>
					<span></span>
					<h4>Cross-platform</h4>
					<p>Simple to use from desktop or any Android iOS devices.</p>
				</article>
			</section>
			<h2>Blockchain evolution</h2>
			<img src="/assets/images/cases/land-registry/blockchain-evolution.png" alt=""/>
		</div>
	</div>
	<div class="screen-clients">
		<div class="container">
			<h2>Clients</h2>
			<section>
				<article class="top">
					<mat-icon svgIcon="flag-UAE"></mat-icon>
					<h4>UAE</h4>
				</article>
				<article class="top">
					<mat-icon svgIcon="flag-India"></mat-icon>
					<h4>India</h4>
				</article>
				<article class="top">
					<mat-icon svgIcon="flag-Russia"></mat-icon>
					<h4>Russia</h4>
				</article>
				<article class="top">
					<mat-icon svgIcon="flag-Netherlands"></mat-icon>
					<h4>Netherlands Antilles</h4>
				</article>
			</section>
		</div>
	</div>
	<div class="screen-stories">
		<div class="container">
			<h2>Cases</h2>
			<a routerLink="/cases/land-registry">
				<h3>We developed land registry system in India</h3>
				<span class="btn" href="#" target="_blank">read the case</span>
				<img src="/assets/images/img-01.jpg" alt=""/>
			</a>
			<a routerLink="/cases/vehicle-registry">
				<h3>Improved vehicle e-registry</h3>
				<span class="btn" href="#" target="_blank">read the case</span>
				<img src="/assets/images/img-02.jpg" alt=""/>
			</a>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			<h1>Be in the van<br />of new technology</h1>
			<p>Unlock the creativity of software developers to deliver new apps and services to customers faster.</p>
			<button type="button" class="btn">GET STARTED</button>
		</div>
	</div>
</section>