<section>
    <section class="screen-main">
        <div class="video"
             id="video"
             style="width: 100%; height: 100%;z-index: 0;"
             data-vide-bg="/assets/video/career-video-480"
             data-vide-options="loop: true, muted: false, position: 0% 0%">
        </div>
        <div class="container">
            <div>
                <h5>Imagine</h5>
                <h1>
                    <app-appearing-text [lines]="collectionText[activeIndexText]"
                                        (onHide)="changeText()"></app-appearing-text>
                </h1>
            </div>
            <a pageScroll href="#screenItHappen" class="arrow arrow-down as-hovering"><em></em></a>
        </div>
    </section>
    <section class="screen-it-happen" id="screenItHappen">
        <div class="container">
            <app-appearing-block>
                <h1>
                    Imagine it is you who made it happen
                </h1>
            </app-appearing-block>
            <app-appearing-block>
                <h1>
                    And you will, with Apla.
                </h1>
            </app-appearing-block>
            <app-appearing-block>
                <h1>
                    <a pageScroll href="#screenWhyHere">Why here?</a>
                </h1>
            </app-appearing-block>
        </div>
    </section>
    <section class="screen-why-here" id="screenWhyHere">
        <app-appearing-block>
            <div class="container" style="margin-bottom: 149px;">
                <h2>
                    Yes.&thinsp;We change the world <br>with the blockchain
                </h2>
                <img src="/assets/images/career/pic-1.png">
                <div class="annotations">
                    <p>
                        Blockchain allows us to bring justice to the world by cutting the gap between rich and poor,
                        fighting corruption, conducting fair elections, simplifying business and life processes.
                    </p>
                </div>
            </div>
        </app-appearing-block>
        <app-appearing-block>
            <div class="container" style="margin-bottom: 33px;">
                <h2>
                    The Apla team is<br>made up of almost...
                </h2>
                <img src="/assets/images/career/pic-2.png">
                <div class="annotations" style="margin-top: 40px;">
                    <p>
                        We have team members in Luxembourg, Dubai<br>and Moscow.
                    </p>
                    <p>
                        We belong to all kinds, faith, sex, <br>skin, color, age and we are for good music of all kinds.
                        <br>All kinds of music.
                    </p>
                </div>
            </div>
        </app-appearing-block>
        <app-appearing-block>
            <div class="container">
                <h2>
                    We make governments <br>and businesses safe,<br>fast and effective
                </h2>
                <img src="/assets/images/career/pic-3.png">
                <div class="annotations" style="margin-top: 62px;">
                    <p>
                        To reach that we help our clients switch <br>to blockchain. We hold workshops, we <br>do
                        development, we teach and mentor<br>our clients.
                    </p>
                </div>
            </div>
        </app-appearing-block>
    </section>
    <div class="screen-joining">
        <div class="container">
            <app-appearing-block>
                <h1>
                    By joining us <span>you will</span>
                </h1>
            </app-appearing-block>
            <app-appearing-block>
                <div class="receive-list">
                    <div class="item">
                        <span class="btn-icon btn-icon-check"></span>
                        <h5 class="annotaion">
                            Get ahead and reach your goals
                        </h5>
                    </div>
                    <div class="item">
                        <span class="btn-icon btn-icon-check"></span>
                        <h5 class="annotaion">
                            Gain authority and speak at global business conferences
                        </h5>
                    </div>
                    <div class="item">
                        <span class="btn-icon btn-icon-check"></span>
                        <h5 class="annotaion">
                            Win recognition and appear in Forbes and Techcrunch
                        </h5>
                    </div>
                    <div class="item">
                        <span class="btn-icon btn-icon-check"></span>
                        <h5 class="annotaion">
                            Be proud to tell your kids you have made this world better
                        </h5>
                    </div>
                </div>
            </app-appearing-block>
            <div class="screen-vacancies">
                <app-appearing-block>
                    <mat-tab-group *ngIf="vacancies">
                        <mat-tab label="{{ town.TOWN }}" *ngFor="let town of vacancies">
                            <section>
                                <article *ngFor="let item of town.VACANCY">
                                    <small>
                                        <span>{{ item.DEPARTMENT }}</span>
                                        <span>{{ town.TOWN }}, {{ town.COUNTRY }}</span>
                                    </small>
                                    <div class="content">
                                        <h4>{{ item.TITLE }}</h4>
                                        <p [innerHTML]="item.PREAMBLE"></p>
                                    </div>
                                    <button type="button"
                                            class="btn btn-more"
                                            (click)="openDialog(item)">
                                        ABOUT VACANCY
                                        <em></em></button>
                                </article>
                            </section>
                        </mat-tab>
                    </mat-tab-group>
                </app-appearing-block>
            </div>
        </div>
    </div>
</section>
