<div class="container">
	<h1>Our cases</h1>
	<h4>Apla is a blockchain platform that helps governments, businesses &amp; communities reach benefits of digital economy</h4>
	<section>
		<a routerLink="land-registry" style="background-image: url(/assets/images/cases/land-registry.jpg)">
			<h4>India land registry</h4>
			<p>Apla proposed a robust working model that was approved by the Indian government</p>
			<span class="btn">READ THE STORY</span>
		</a>
		<a routerLink="supply-chain" style="background-image: url(/assets/images/cases/vehicle-registry.jpg)">
			<h4>Supply chain management</h4>
			<p>Apla proposed a robust working model that was approved by the Indian government</p>
			<span class="btn">READ THE STORY</span>
		</a>
		<a routerLink="vehicle-registry" style="background-image: url(/assets/images/cases/vehicle-registry_temp.jpg)">
			<h4>Vehicle registry</h4>
			<p>Apla proposed a robust working model that was approved by the Indian government</p>
			<span class="btn">READ THE STORY</span>
		</a>
	</section>
</div>