<div class="cases">
    <div class="container">
        <h1>Our cases</h1>
        <h4>Apla is a blockchain platform that helps governments, businesses &amp; communities benefit from the digital
            economy.</h4>
        <section>
            <a routerLink="land-registry" style="background-image: url(/assets/images/cases/land-registry.jpg)">
                <h4>India land registry</h4>
                <p>Apla proposed a robust working model that was approved by the Indian government</p>
                <span class="btn">READ THE STORY</span>
            </a>
            <a routerLink="supply-chain" style="background-image: url(/assets/images/cases/vehicle-registry.jpg)">
                <h4>Supply chain management</h4>
                <p>Apla proposed a robust working model that was approved by the Indian government</p>
                <span class="btn">READ THE STORY</span>
            </a>
            <a routerLink="vehicle-registry"
               style="background-image: url(/assets/images/cases/vehicle-registry_temp.jpg)">
                <h4>Vehicle registry</h4>
                <p>Apla proposed a robust working model that was approved by the Indian government</p>
                <span class="btn">READ THE STORY</span>
            </a>
            <a routerLink="survey-poll"
               style="background-image: url(/assets/images/cases/survey-poll.jpg)">
                <h4>Survey and polls application</h4>
                <p>Apla created an application to revolutionaize the distibution of value in musical industry</p>
                <span class="btn">READ THE STORY</span>
            </a>
            <a routerLink="financial-sector"
               style="background-image: url(/assets/images/cases/financial-sector.jpg)">
                <h4>Financial Sector and Financial Instruments</h4>
                <p>Apla developed a system for banks and other financial intitutions to sell financial instruments to investors</p>
                <span class="btn">READ THE STORY</span>
            </a>
            <a routerLink="business-licensing"
               style="background-image: url(/assets/images/cases/business-licensing.jpg)">
                <h4>Business Licensing Application</h4>
                <p>Apla created an application for issuance of business licenses</p>
                <span class="btn">READ THE STORY</span>
            </a>
            <a routerLink="music-copyright"
               style="background-image: url(/assets/images/cases/music-copyright.jpg)">
                <h4>Music Copyright Management Application</h4>
                <p>Apla created an application to revolutionaize the distibution of value in musical industry</p>
                <span class="btn">READ THE STORY</span>
            </a>
        </section>
    </div>
</div>
<app-newsletter-alt></app-newsletter-alt>
