&home {
	height: 100%;
	min-height: 100%;
	& > .screen {
		height: 100%;
		min-height: 100%;
		&-main {
			background-image: url(/assets/images/main-screen.jpg);
		}
		&-blockchain {
			section {
				article {
					&:nth-of-type(1) {
						span {
							background-image: url(/assets/icons/icon-secure-your-data.svg)
						}
					}
					&:nth-of-type(2) {
						span {
							background-image: url(/assets/icons/icon-increase.svg)
						}
					}
					&:nth-of-type(3) {
						span {
							background-image: url(/assets/icons/icon-embrace-innovation.svg)
						}
					}
					span {
						height: 60px;
						background-position: 0px center;
						background-size: auto auto;
						margin-bottom: 25px;
						@include max($btablet) {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		&-clients {
			padding-top: 0px;
			h2 {
				margin-bottom: 60px;
				@include max($btablet) {
					margin-bottom: 40px;
				}
			}
		}
		&-4 {
			background-color: $black;
			padding-top: 90px;
			padding-bottom: 90px;
			@include max($btablet) {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			& * {
				color: $white;
			}
			h2 {
				margin-bottom: 30px;
				@include max($btablet) {
					margin-bottom: 20px;
				}
			}
			h4 {
				margin-bottom: 10px;
			}
			p {
				max-width: 665px;
				min-height: 84px;
				@include max($btablet) {
					min-height: 1px;
				}
			}
			.sheme {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				margin-top: 130px;
				@include max($btablet) {
					display: block;
					margin-top: 0px;
				}
				div {
					display: flex;
					flex-flow: column nowrap;
					justify-content: space-between;
					&:first-of-type {
						& > * {
							@include min($btablet) {
								text-align: right;
							}
						}
					}
				}
				article {
					max-width: 305px;
					@include max($btablet) {
						max-width: none;
						margin-top: 30px;
					}
				}
				span {
					width: 420px;
					height: 550px;
					background-image: url(/assets/images/apla.svg);
					background-repeat: no-repeat;
					background-position: center center;
					@include max($btablet) {
						display: none;
					}
				}
			}
		}
		&-5 {
			@include min($btablet) {
				border-bottom: 2px solid $black;
			}
			.container {
				display: flex;
				flex-flow: row nowrap;
				@include max($btablet) {
					flex-flow: row wrap;
				}
				article {
					flex: 50%;
					padding-top: 65px;
					padding-bottom: 100px;
					@include max($btablet) {
						flex: 100%;
						border-bottom: 2px solid $black;
						padding-top: 40px;
						padding-bottom: 40px;
						padding-left: 20px;
						padding-right: 20px;
						margin-left: -20px;
						margin-right: -20px;
					}
					& + article {
						@include min($btablet) {
							border-left: 2px solid $black;
							padding-left: 110px;
						}
					}
					p {
						max-width: 430px;
						@include max($btablet) {
							max-width: none;
							margin-top: 10px;
						}
					}
				}
			}
		}
		&-6 {
			padding-top: 90px;
			@include max($btablet) {
				padding-top: 60px;
			}
			h2 {
				sup {
					position: relative;
					top: -10px;
					font-size: 26px;
					vertical-align: top;
					@include max($btablet) {
						top: -5px;
						font-size: 16px;
					}
				}
			}
			.img {
				padding-top: 90px;
				padding-bottom: 60px;
				@include max($btablet) {
					padding-top: 60px;
					padding-bottom: 40px;
				}
				img {
					display: block;
					max-width: 100%;
					margin: 0px auto;
				}
			}
			section {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				& > * {
					@include min($btablet) {
						width: 33.33%;
						padding-right: 25px;
					}
				}

				.item {
					text-align: left;
					.icon {
						max-height: 50px;
						max-width: 50px;
						margin-bottom: 15px;
					}
					h4 {
						margin-bottom: 30px;
						@include max($btablet) {
							margin-bottom: 10px;
						}
					}
					p {
						margin-bottom: 130px;
						@include max($btablet) {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
		&-8 {
			min-height: 660px;
			background-image: url(/assets/images/partner-screen.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding-top: 150px;
			padding-bottom: 25px;
			@include max($btablet) {
				min-height: 480px;
				padding-top: 80px;
			}
			& * {
				color: $white;
			}
			h2 {
				max-width: 520px;
				margin-bottom: 37px;
				@include max($btablet) {
					margin-bottom: 17px;
				}
			}
			p {
				max-width: 520px;
			}
		}
		&-9 {
			padding-top: 90px;
			padding-bottom: 90px;
			@include max($btablet) {
				overflow-x: hidden;
				padding-top: 60px;
				padding-bottom: 60px;
			}
			h2 {
				margin-bottom: 60px;
				@include max($btablet) {
					min-height: 88px;
					padding-right: 50px;
					margin-bottom: 40px;
				}
			}
			.swiper-container {
				max-width: 765px;
				margin: 0px auto;
				@include max($btablet) {
					overflow: visible;
					margin-left: -20px;
					margin-right: -20px;
				}
				.swiper-slide {
					display: flex;
					flex-flow: row nowrap;
					justify-content: flex-start;
					align-content: flex-start;
					align-items: flex-start;
					padding-bottom: 70px;
					@include max($btablet) {
						display: block;
						padding-left: 20px;
						padding-right: 20px;
						padding-bottom: 60px;
					}
					.thumb {
						margin-right: 25px;
						@include max($btablet) {
							margin-right: 0px;
							margin-bottom: 40px;
						}
					}
					div {
						small {
							line-height: 20px;
							margin-top: 5px;
							margin-bottom: 50px;
							@include max($btablet) {
								margin-top: 10px;
								margin-bottom: 10px;
							}
						}
					}
				}
				.swiper-pagination {
					bottom: 18px;
					font-size: 0px;
					line-height: 0px;
					text-align: left;
					padding-left: 200px;
					@include max($btablet) {
						padding-left: 20px;
					}
					&-bullet {
						width: 10px;
						height: 10px;
						border: 1px solid $black;
						background-color: transparent;
						vertical-align: top;
						margin-left: 0px;
						margin-right: 0px;
						opacity: 1;
						&-active {
							background-color: $black;
						}
						& + .swiper-pagination-bullet {
							margin-left: 14px;
						}
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					border: 0px;
					background-image: none;
					background-color: transparent;
					width: auto;
					height: auto;
					font-size: 0px;
					padding: 0px;
					& > * {
						margin: 0px;
					}
				}
				.swiper-button-prev {
					left: auto;
					right: 70px;
					top: auto;
					bottom: 0px;
					@include max($btablet) {
						right: 20px;
						top: -103px;
						bottom: auto;
					}
				}
				.swiper-button-next {
					left: auto;
					right: 0px;
					top: auto;
					bottom: 0px;
					@include max($btablet) {
						right: 20px;
						top: -58px;
						bottom: auto;
					}
				}
			}
		}
	}
}