<div class="screen-main">
	<div class="container">
		<h1>{{ 'MAIN.SHOWREEL.TITLE' | translate }}</h1>
		<h4>{{ 'MAIN.SHOWREEL.TEXT' | translate }}</h4>
	</div>
</div>

<app-video></app-video>

<div class="screen-6">
	<div class="container">
		<h2 [innerHTML]="'MAIN.ADVANTAGE.TITLE' | translate"></h2>
		<div class="img"><img src="/assets/images/devices-3.png" alt=""/></div>
		<section>
			<div class="item">
				<img class="icon" src="/assets/icons/icon-lock.svg">
				<h4>{{ 'MAIN.ADVANTAGE.1.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.ADVANTAGE.1.TEXT' | translate }}</p>
			</div>
			<div class="item">
				<img class="icon" src="/assets/icons/icon-access-rights.svg">
				<h4>{{ 'MAIN.ADVANTAGE.2.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.ADVANTAGE.2.TEXT' | translate }}</p>
			</div>
			<div class="item">
				<img class="icon" src="/assets/icons/icon-rad.svg">
				<h4>{{ 'MAIN.ADVANTAGE.3.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.ADVANTAGE.3.TEXT' | translate }}</p>
			</div>
			<div class="item">
				<img class="icon" src="/assets/icons/icon-lightning.svg">
				<h4>{{ 'MAIN.ADVANTAGE.4.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.ADVANTAGE.4.TEXT' | translate }}</p>
			</div>
			<div class="item">
				<img class="icon" src="/assets/icons/icon-user-friendly.svg">
				<h4>{{ 'MAIN.ADVANTAGE.5.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.ADVANTAGE.5.TEXT' | translate }}</p>
			</div>
			<div class="item">
				<img class="icon" src="/assets/icons/icon-own-blockchain.svg">
				<h4>{{ 'MAIN.ADVANTAGE.6.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.ADVANTAGE.6.TEXT' | translate }}</p>
			</div>
		</section>
	</div>
</div>

<div class="screen-blockchain">
	<div class="container">
		<h2>{{ 'MAIN.BLOCKCHAIN.TITLE' | translate }}</h2>
		<section>
			<article>
				<span></span>
				<h4>{{ 'MAIN.BLOCKCHAIN.1.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.BLOCKCHAIN.1.TEXT' | translate }}</p>
			</article>
			<article>
				<span></span>
				<h4>{{ 'MAIN.BLOCKCHAIN.2.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.BLOCKCHAIN.2.TEXT' | translate }}</p>
			</article>
			<article>
				<span></span>
				<h4>{{ 'MAIN.BLOCKCHAIN.3.TITLE' | translate }}</h4>
				<p>{{ 'MAIN.BLOCKCHAIN.3.TEXT' | translate }}</p>
			</article>
		</section>
	</div>
</div>

<div class="screen-clients">
	<div class="container">
		<h2>{{ 'MAIN.CLIENTS.TITLE' | translate }}</h2>
		<section>
			<div>
				<h3>Governments</h3>
				<a href="https://www.government.ae/" target="_blank" class="top">
					<mat-icon svgIcon="flag-UAE"></mat-icon>
					<h4>UAE</h4>
				</a>
				<a href="https://www.india.gov.in/" target="_blank" class="top">
					<mat-icon svgIcon="flag-India"></mat-icon>
					<h4>India</h4>
				</a>
				<a href="http://government.ru/" target="_blank" class="top">
					<mat-icon svgIcon="flag-Russia"></mat-icon>
					<h4>Russia</h4>
				</a>
				<a class="top">
					<mat-icon svgIcon="flag-Netherlands"></mat-icon>
					<h4>Netherlands Antilles</h4>
				</a>
			</div>
			<div>
				<h3>Businesses</h3>
				<a href="https://www.bearingpoint.com/" target="_blank">
					<img src="/assets/images/clients/BrP_Logo_RGB_PS.png" alt=""/>
				</a>
				<a href="https://snapswap.eu/" target="_blank">
					<img src="/assets/images/clients/EY-snapswap-logo.png" alt=""/>
				</a>
				<a href="https://www.grantthornton.com/" target="_blank">
					<img src="/assets/images/clients/grant-thornton-logo.png" alt=""/>
				</a>
				<a href="http://finessedirect.com/" target="_blank">
					<img src="/assets/images/clients/Finesse-LOGO-H-with-add1.png" alt=""/>
				</a>
				<a href="http://www.gazprom.com/" target="_blank" style="max-width:38%;margin-top: 20px;">
					<img src="/assets/images/clients/Gazprom.jpg" alt=""/>
				</a>
			</div>
		</section>
	</div>
</div>
<div class="screen-4" id="screen4">
	<div class="container" id="container4">
		<h2>{{ 'MAIN.FULLSERVICE.TITLE' | translate }}</h2>
		<p>{{ 'MAIN.FULLSERVICE.TEXT' | translate }}</p>
		<div class="sheme">
			<div>
				<article class="step step-1">
					<h4>{{ 'MAIN.FULLSERVICE.1.TITLE' | translate }}</h4>
					<p>{{ 'MAIN.FULLSERVICE.1.TEXT' | translate }}</p>
				</article>
				<article class="step step-2">
					<h4>{{ 'MAIN.FULLSERVICE.2.TITLE' | translate }}</h4>
					<p>{{ 'MAIN.FULLSERVICE.2.TEXT' | translate }}</p>
				</article>
				<article class="step step-3">
					<h4>{{ 'MAIN.FULLSERVICE.3.TITLE' | translate }}</h4>
					<p>{{ 'MAIN.FULLSERVICE.3.TEXT' | translate }}</p>
				</article>
			</div>
			<span>
				<img class="step-0" src="/assets/apla.svg">
				<img class="step-1" src="/assets/images/b-w.svg">
				<img class="step-2" src="/assets/images/b-w.svg">
				<img class="step-3" src="/assets/images/b-w.svg">
				<img class="step-4" src="/assets/images/b-w.svg">
				<img class="step-5" src="/assets/images/b-w.svg">
				<img class="step-6" src="/assets/images/b-w.svg">
			</span>
			<div>
				<article class="step step-4">
					<h4>{{ 'MAIN.FULLSERVICE.4.TITLE' | translate }}</h4>
					<p>{{ 'MAIN.FULLSERVICE.4.TEXT' | translate }}</p>
				</article>
				<article class="step step-5">
					<h4>{{ 'MAIN.FULLSERVICE.5.TITLE' | translate }}</h4>
					<p>{{ 'MAIN.FULLSERVICE.5.TEXT' | translate }}</p>
				</article>
				<article class="step step-6">
					<h4>{{ 'MAIN.FULLSERVICE.6.TITLE' | translate }}</h4>
					<p>{{ 'MAIN.FULLSERVICE.6.TEXT' | translate }}</p>
				</article>
			</div>
		</div>
	</div>
</div>
<div class="screen-5">
	<div class="container">
		<article routerLink="/government">
			<small>{{ 'MAIN.APLAFOR.SUBHEAD' | translate }}</small>
			<h3><a routerLink="/government">{{ 'MAIN.APLAFOR.1.TITLE' | translate }}<span class="arrow arrow-right"><em></em></span></a></h3>
			<p>{{ 'MAIN.APLAFOR.1.TEXT' | translate }}</p>
		</article>
		<article routerLink="/business">
			<small>{{ 'MAIN.APLAFOR.SUBHEAD' | translate }}</small>
			<h3><a routerLink="/business">{{ 'MAIN.APLAFOR.2.TITLE' | translate }}<span class="arrow arrow-right"><em></em></span></a></h3>
			<p>{{ 'MAIN.APLAFOR.2.TEXT' | translate }}</p>
		</article>
	</div>
</div>
<router-outlet></router-outlet>

<div class="screen-stories">
	<div class="container">
		<h2>Cases</h2>
		<a routerLink="cases/land-registry">
			<h3>We developed a land registry system in India</h3>
			<span class="btn">read the case</span>
			<img src="/assets/images/cases/land-registry-b.jpg" alt=""/>
		</a>
		<a routerLink="cases/vehicle-registry">
			<h3>Improved vehicle e-registry</h3>
			<span class="btn">read the case</span>
			<img src="/assets/images/cases/vehicle-registry-b.jpg" alt=""/>
		</a>
		<a routerLink="cases/supply-chain">
			<h3>Refined supply<br />chain</h3>
			<span class="btn">read the case</span>
			<img src="/assets/images/cases/supply-chain-b.jpg" alt=""/>
		</a>
		<div class="btn-wrapper">
			<a routerLink="/cases" class="btn">{{ 'READMORECASES' | translate }}</a>
		</div>

	</div>
</div>
<div class="screen-8">
	<div class="container">
		<h2>{{ 'MAIN.ENTERPRISE.TITLE' | translate }}</h2>
		<p>{{ 'MAIN.ENTERPRISE.TEXT' | translate }}</p>
		<button type="button" class="btn" (click)="openDialog()">Become a partner</button>

	</div>
</div>
<div class="screen-9">
	<div class="container">
		<h2>What our clients say?</h2>
		<div class="swiper-container" [swiper]="config">
			<div class="swiper-wrapper">
				<article class="swiper-slide">
					<div class="thumb mask mask-white">
						<img src="/assets/images/clients/niyi.jpg" alt=""/>
					</div>
					<div>
						<h4>Niyi Ayoola-Daniels</h4>
						<small>President<br/> International Institute for Petroleum, Energy Law and Policy, Nigeria</small>
						<p>As a solution designed specifically for government, Apla offers unparalleled scalability and strategic implementation across different verticals. Identifying key government sectors and focusing on high-impact areas like education, the Apla team brings to the table an understanding of economic opportunities that blockchain adoption can unlock globally.</p>
					</div>
				</article>
				<article class="swiper-slide">
					<div class="thumb mask mask-white">
						<img src="/assets/images/clients/wangila.jpg" alt=""/>
					</div>
					<div>
						<h4>Dr. Fernando Wangila</h4>
						<small>Deputy Director (Head of ICT and Innovation)<br /> National Transport and Safety Authority, Kenya</small>
						<p>Apla is a unique platform with rapid application development capabilities that allow organizations to adopt blockchain in record time. What's interesting is the transition from government applications to a government ecosystem model.</p>
					</div>
				</article>
			</div>
			<div class="swiper-pagination"></div>
			<button type="button" class="swiper-button-prev"><span class="arrow arrow-left arrow-lg"><em></em></span></button>
			<button type="button" class="swiper-button-next"><span class="arrow arrow-right arrow-lg"><em></em></span></button>
		</div>
	</div>
</div>
<div class="screen-team">
	<div class="container">
		<h2>Top-management</h2>
		<app-team teamPointer="TOPMANAGMENT"></app-team>

		<h2>Advisory board</h2>
		<app-team teamPointer="ADVISORS"></app-team>
	</div>
</div>
<div class="screen-news">
	<div class="container">
		<h2>Latest news</h2>
		<section>
			<article>
				<a href="https://blog.apla.io/apla-to-hold-blockchain-hackathon-in-partnership-with-gazprom-and-others-1cb098570f7" target="_blank">
					<img src="/assets/images/news/1.jpg" alt=""/>
					<h4>Apla to hold blockchain hackathon in partnership with Gazprom and others<span class="arrow arrow-right"><em></em></span></h4>
					<p>Apla is to hold the AplaBlockchainHack contest in Moscow over the weekend, welcoming blockchain aficionados to take part in a hackathon with total prize fund of 1.5 million RUB ($26,000) to be won.</p>
				</a>
			</article>
			<article>
				<a href="https://blog.apla.io/how-to-integrate-blockchain-into-work-processes-ff702df63829" target="_blank">
					<img src="/assets/images/news/1.png" alt=""/>
					<h4>How to Integrate Blockchain into Work Processes?<span class="arrow arrow-right"><em></em></span></h4>
					<p>When embarking on this discovery phase, the first question to ask should be: “is blockchain needed at all?” This is, of course, assuming that the fundamental question of “what is a blockchain” is already understood.</p>
				</a>
			</article>
		</section>
	</div>
</div>

<app-banner></app-banner>
<app-newsletter></app-newsletter>
